body {
    font-family: 'Noto Sans', Arial, sans-serif;
    text-align: center;
}

table {
    border-spacing: 0;
    padding-top: 30px;
    width: 100%;
}

td:first-child {
    text-align: left;
}

td {
    border-top: 1px solid #888;
    min-width: 50px;
}

th:first-child {
    text-align: left;
}

#statistics-overview, #tbl-statistics-cdns, #tbl-statistics-frameworks {
    display: none;
}

#statistics-overview {
    text-align: left;
}

.container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.overview {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    -moz-user-select: none;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #b2b2b2;
    color: #5f5f5f;
    cursor: pointer;
    float: right;
    font-size: 12px;
    outline: 0;
    padding: 5px 22px;
    text-decoration: none;
    user-select: none;
    text-align: center;
    background: none;
}

.button:hover {
    background-color: #e6e6e6;
}
